body{
    max-width: 640px;
	margin: 0 auto;
}

#container{
    display: none;
}

#logo a {
	margin-left: 10px;
}

header{
	height:366px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}

main{
    margin-top: -250px;
}

nav #hamburger{
    display: flex;
    justify-content:flex-end;
    height: 50px;
    background-color:#544b4d; 
    border-bottom: 1px solid #bab5b6;
}

nav #hamburger img{
    margin-right: 15px;
    margin-top: 2px;
}

nav{
    padding-top: 10px;
    width: 100%;
}

nav ul {
	flex-direction: column;
}

nav li{
    display: block;
    height: 50px;
    background-color: #544b4d;
    border-bottom: 1px solid #bab5b6;
}

nav li a {
    display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-left:40px;
	color: #fcfcfc;
	width: 100%;
}

#why_main{
    height: auto;
    flex-direction:column;
    justify-content:center;
}
#main h1{
        padding-top: 280px;
}


.why_we{
     width:250px; 
     height:150px; 
     margin: auto;
     padding-top:60px;
     text-align: center;
}

.why_we p{
    text-align: center;
    width: 265px;
}
    

#toning{
	line-height: 1.5;
	padding-top:70px;
}

#toning img{
	width: 100%;
	height:auto;
}

#our_work img{
	width: 100%;
	height: auto;
}

#our_work {
    width: auto;
}

#table {
	width: 100%;
}

footer{
    width: auto;
}

footer form h3{
    text-align: center;
}

#footer_div{
    justify-content:flex-start;
}

#our_contacts{
    align-self:flex-start;
    margin-top: 500px;
    margin-right: -170px;
}

#contacts{
    order:1;
    width: auto;
}


form {
    width: auto;
    margin:auto;
	background:#EAECF0; 
	border: none;
}

 #user_email{
	width: 100%;
	height:50px;
	border-radius: 5px;
    margin:auto;
}

#user_telephone{
    width: 100%;
	height:50px;
	border-radius: 5px;
	margin:auto;
}

 #message{
    width: 100%;
	height:80px;
	margin:auto;
	border-radius: 5px;

}

.btn_submit{
	width: 150px;
	height: 45px;
	margin-left: 5px;
	margin-top: 0px;
	border-radius: 4px;
}

#contacts p{
    font-size: 18px;
}
 
 #user_email::-webkit-input-placeholder{
     font-size: 13px;
 }
 
 #user_telephone::-webkit-input-placeholder{
     font-size: 13px;
 }
 
.btn_submit{
     font-size: 20px;
 }
 
 form h3 {
    margin-top: -45px;
    margin-bottom: 4px;
}